# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Data & Models
data/*.csv
models/
plots/

# MLflow
mlruns/
mlflow.db
.pytest_cache/
inference.db

# NASA Dataset
*FD00*.txt
*FD00*
CMAPSSData.zip
CMAPSSData/
cmapss_data/
